# SPDX-FileCopyrightText: 2026 Jean-Pierre De Jesus DIAZ <me@jeandudey.tech>
#
# SPDX-License-Identifier: CC0-1.0

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish-image:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Package rock with Rockcraft
        uses: canonical/craft-actions/rockcraft-pack@main
        id: pack

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Import and push image
        run: |
          sudo rockcraft.skopeo \
            --insecure-policy \
            copy \
            oci-archive:"${{ steps.pack.outputs.rock }}" \
            docker-daemon:"ghcr.io/${{ github.actor }}/bitcoin:${GITHUB_REF_NAME#v}"
          docker push "ghcr.io/${{ github.actor }}/bitcoin:${GITHUB_REF_NAME#v}"
